<?xml version="1.0"?>
<container xmlns="http://symfony.com/schema/dic/services">
    <imports>
        <import resource="routes.xml"/>
    </imports>

    <services>
        <defaults public="true"/>

        <service id="container" synthetic="true"/>

        <service id="logger" class="Psr\Log\NullLogger"/>

        <service id="controllerFactory" class="alexshadie\bicycle\controllers\ControllerFactory">
            <argument type="service" id="container"/>
            <argument type="service" id="logger"/>
            <argument>\</argument>
        </service>

        <service id="request" class="flight\net\Request">
            <factory service="app" method="request"/>
        </service>

        <service id="response" class="flight\net\Response">
            <factory service="app" method="response"/>
        </service>

        <service id="app" class="alexshadie\bicycle\Engine" lazy="false">
            <argument type="service" id="logger"/>
            <argument type="service" id="container"/>
            <call method="initialize"/>
            <call method="setRoutes">
                <argument type="service" id="routeCollection"/>
            </call>
        </service>

    </services>
</container>